@import 'style.css';
@import 'framework.css';
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i';
@import 'fontawesome-all.min.css';

.bt-full-width {
    width:100%;
    line-height: 23px;
}
.input-style-1.has-icon input {
    padding-left: 60px;
}
.iti__selected-flag {
    padding: 0 6px 0 13px;
}
.iti {
    width: 100%;
}