<div class="content left-30 right-30">
    <h1 class="font-30">Welcome</h1>
    <h2 class="font-16 under-heading color-highlight bold">Please Login to Continue</h2>

    <div class="input-style has-icon input-style-1 input-required top-50">
        <i class="input-icon fa fa-user font-11"></i>
        <span>Enter Email</span>
        <em>(required)</em>
        <Input @type="email" autocomplete="email" autofocus placeholder="Enter Email" @value={{this.email}} />
    </div>
    <div class="input-style has-icon input-style-1 input-required bottom-50">
        <i class="input-icon fa fa-lock font-11"></i>
        <span>Password</span>
        <em>(required)</em>
        <Input @type="password" autocomplete="current-password" placeholder="Password" @value={{this.password}} />
    </div>

    <button class="bt-full-width button button-full button-m round-small shadow-huge bg-green1-dark bottom-30"
        {{on 'click' this.signIn}}>LOGIN</button>

    <LinkTo @route="register" class="one-half font-11 color-theme opacity-50">
        Register
    </LinkTo>
    <a href="#" class="one-half last-column text-right font-11 color-theme opacity-50">Fogot
        Credentials</a>
    <div class="clear"></div>
</div>