<div class="content left-30 right-30">
    <h1 class="font-30">Register</h1>
    <h2 class="font-16 under-heading color-highlight bold">Enter your Information</h2>

    <div class="input-style input-style-1 input-required top-50">
        <span>Display Name</span>
        <em>(required)</em>
        <Input @type="text" autocomplete="name" autofocus placeholder="Display Name" @value={{this.displayName}} />
    </div>
    <div class="input-style input-style-1 input-required">
        <span>Email</span>
        <em>(required)</em>
        <Input @type="email" autocomplete="email" placeholder="Email" @value={{this.email}} />
    </div>
    <div class="input-style input-style-1 input-required">
        <span>Password</span>
        <em>(required)</em>
        <Input @type="password" autocomplete="new-password" placeholder="Password" @value={{this.password}} />
    </div>
    <div class="clear"></div>

    <button class="bt-full-width button button-full button-m round-small shadow-huge bg-highlight top-50 bottom-50"
        {{on 'click' this.signUp}}>Create Account</button>
</div>