{{#if @hasCodeToVerify}}
<div class="content left-30 right-30">
    <h1 class="font-30">Welcome {{currentUser.displayName}}</h1>
    <h2 class="font-16 under-heading color-highlight bold">Please Add your Phone Number</h2>



    <div class="input-style has-icon input-style-1 input-required top-50">
        <i class="input-icon fa fa-user font-11"></i>
        <span>Enter Code</span>
        <em>(required)</em>
        <Input @type="text" autofocus placeholder="Enter Code" @value={{this.code}} />
    </div>
    <button class="bt-full-width button button-full button-m round-small shadow-huge bg-green1-dark bottom-30"
        {{on "click" this.verifyCode}}>VERIFY CODE</button>

    <a {{on "click" this.signOut}} class="one-half font-11 color-theme opacity-50">
        Sign Out
    </a>

    <div class="clear"></div>
</div>

{{else}}
<div {{did-insert didInsert}} class="content left-30 right-30">
    <h1 class="font-30">Welcome {{currentUser.displayName}}</h1>
    <h2 class="font-16 under-heading color-highlight bold">Please Add your Phone Number</h2>




    <div class="input-style has-icon input-style-1 input-required top-50">
        <i class="input-icon fa fa-user font-11"></i>
        <span>Enter Phone Number</span>
        <em>(required)</em>
        {{phone-input autocomplete="tel-national" name="contactPhoneField" class="contactField requiredField" initialCountry="ke" number=this.phoneNumber update=(action "handlePhoneUpdate")}}
    </div>

    <button id="sign-in-button"
        class="bt-full-width button button-full button-m round-small shadow-huge bg-green1-dark bottom-30 top-20"
        {{on "click" this.signIn}}>ADD PHONE NUMBER</button>


    <a {{on "click" this.signOut}} class="one-half font-11 color-theme opacity-50">
        Sign Out
    </a>

    <div class="clear"></div>
</div>

{{/if}}