<div class="page-content header-clear">

    <div class="page-title has-subtitle">
        <div class="page-title-left">
            <a href="#" class="font-22">Wallet</a>
            <span class="color-highlight">Check your Funds</span>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <OwlCarousel::WalletCaption />
</div>