<div class="page-content header-clear-medium">

    <div data-height="420" class="caption round-medium caption-margins">
        <div class="caption-bottom bottom-10">
            <div class="one-third center-text">
                <h3 class="color-white ultrabold font-22">14k</h3>
                <p class="color-white under-heading font-10 bottom-10">Followers</p>
            </div>
            <div class="one-third center-text">
                <h3 class="color-white ultrabold font-22">93</h3>
                <p class="color-white under-heading font-10 bottom-10">Photos</p>
            </div>
            <div class="one-third center-text last-column">
                <h3 class="color-white ultrabold font-22">122</h3>
                <p class="color-white under-heading font-10 bottom-10">Following</p>
            </div>
            <div class="clear"></div>

        </div>
        <div class="caption-overlay bg-gradient opacity-70"></div>
        <div class="caption-bg bg-0"></div>
    </div>

    <div class="content center-text">
        <h1 class="font-35 center-text bottom-5">{{currentUser.displayName}}</h1>
        <span class="font-12 under-heading center-text color-highlight">Our Profile Page Model Name</span>
        <p class="boxed-text-huge top-20">
            Asterial is our latest product, designed for speed, power and most a beautiful user interface and
            experience.
        </p>
        <a href="#" class="button button-m button-center-medium bg-highlight round-small shadow-huge bottom-40">Follow
            Karla</a>
    </div>


    <div class="divider divider-margins bottom-0"></div>


</div>