<div class="contact-form">
    <form {{on "submit" this.prevent}} class="contactForm" id="contactForm">
        <fieldset>
            <div class="form-field form-name">
                <label class="titleField color-theme" for="titleField">Title:<span>(required)</span></label>
                <Input @type="text" name="titleField" @value={{this.title}} class="contactField requiredField"
                    id="contactNameField" />
            </div>

            <div class="form-field form-text">
                <label class="postTextarea color-theme" for="postTextarea">Post:
                    <span>(required)</span></label>
                <Textarea name="postTextarea" class="postTextarea requiredField" id="postTextarea"
                    @value={{this.post}} />
                </div>
            <div class="form-field form-name">
                <label class="titleField color-theme" for="yesField">Yes Screening
                    ID:<span>(required)</span></label>
                <Input @type="text" name="yesField" @value={{this.yesScreeningID}} class="contactField requiredField"
                    id="contactNameField" />
            </div>
            <div class="form-field form-name">
                <label class="titleField color-theme" for="noField">No Screening
                    ID:<span>(required)</span></label>
                <Input @type="text" name="noField" @value={{this.noScreeningID}} class="contactField requiredField"
                    id="contactNameField" />
            </div>
            <div class="form-button">
                <button {{on "click" this.saveQuestion}}
                    class="button bg-highlight button-m button-full round-small shadow-huge bottom-15">Save Question</button>
            </div>
        </fieldset>
    </form>
</div>