<div class="page-content header-clear">

    <div class="page-title has-subtitle">
        <div class="page-title-left">
            <a href="#">Add a Question</a>
            <span class="color-highlight">Review from time to time</span>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="content bottom-30">
        <ContactForm::ScreeningForm @saveQuestion={{action 'saveQuestion'}} />
    </div>

    <div class="divider divider-margins"></div>


</div>