<div class="page-content">
    <div class="page-title has-subtitle">
        <div class="page-title-left">
            <LinkTo @route="index">
                Screening Questions
            </LinkTo>
            <span class="color-highlight top-5">Covid-19 Early Detection Effort</span>
        </div>
        <div class="page-title-right">
            {{#if this.session.isAuthenticated}}
            <LinkTo @route="private.menu">
                <i class="fa fa-bars"></i>
            </LinkTo>
            {{else}}
            <LinkTo @route="menu">
                <i class="fa fa-bars"></i>
            </LinkTo>
            {{/if}}
            <LinkTo @route="login">
                <i class="fas fa-sign-in-alt"></i>
            </LinkTo>
        </div>
    </div>

    <div class="divider divider-margins top-10 bottom-10"></div>
    <div class="content">
        <div class="content-title has-icon">
            <h3>All Questions</h3>
            <span class="color-highlight">Verify Questions are Accurate</span>
            <i class="fa fa-truck bg-green1-dark shadow-large"></i>
        </div>
        <p>
            This will help both individual and organisations identify critical medical issues early.
        </p>
    </div>

    <div class="content">
        <div class="link-list link-list-2 link-list-long-border link-list-icon-bg bottom-50">

            {{#each @model as |question|}}
            <LinkTo @route="private.screening.edit" @model={{question}}>
                <i class="fa fa-shopping-cart bg-red2-dark round-huge shadow-huge"></i>
                <span>{{question.title}}</span>
                <strong>{{question.post}}</strong>
                <i class="fa fa-angle-right"></i>
            </LinkTo>
            {{/each}}
        </div>
    </div>

</div>