<div {{did-insert this.didInsert}} class="caption bottom-0" data-height="cover-header">
    <div class="caption-center">
        <h1 class="center-text fa-4x">Asterial</h1>
        <span class="center-text color-highlight font-12 bottom-30">Insanely Powerful Mobile Websites</span>
        <p class="boxed-text-huge">
            Combining the beauty of iOS design with the modern web components to obtain the perfect Mobile
            Website.
        </p>
    </div>
</div>