<div {{did-insert this.didInsert}} data-height="200" class="caption caption-margins round-medium top-20 shadow-huge">
    <div class="caption-top left-15 top-15">
        <div class="caption-author-left">
            <img src="assets/images/preload-logo.png" data-src="assets/images/preload-logo.png" class="preload-image">
            <strong>Verified</strong>
            <span>Platinum</span>
        </div>
    </div>
    <a href="#" class="caption-bottom left-20 bottom-20">
        <p class="color-white opacity-70 bottom-0 font-12">Stay Home. Stay Alive.</p>
        <h1 class="color-white bolder font-32">Knowledge</h1>
        <h1 class="color-white bolder font-18">Is Power <i class="fas fa-hand-rock color-red2-light left-5 right-5"></i>
            by
            zuru360</h1>
    </a>
    <div class="caption-overlay bg-black opacity-30"></div>
    <div class="caption-bg bg-covid-19"></div>
</div>