<a {{did-insert this.didInsert}} href="#" data-height="160"
    class="caption caption-margins round-medium shadow-huge bottom-20">
    <div class="caption-bottom left-15 bottom-15">
        <h1 class="color-white font-40">$5.124</h1>
        <p class="color-white under-heading opacity-70 bottom-0 font-11">Remaining Account Ballance</p>
    </div>
    <div class="caption-top top-15 right-15">
        <span class="button button-xxs float-right bg-blue2-dark round-small color-black">ADD FUNDS</span>
    </div>
    <div class="caption-overlay bg-black opacity-40"></div>
    <div class="caption-bg bg-covid-19"></div>
</a>