<div class="page-content header-clear-large">

    <p class="content bottom-25">
        Every donation will provide essential items for the needy during this time of the covid-19 crisis.
    </p>

    <div class="divider divider-margins"></div>

    <div class="content bottom-25">
        <h2>Enter Amount Below</h2>
        <p>
            Give someone a lifeline.
        </p>

        <div class="input-style input-style-2 has-icon input-required">
            <i class="input-icon fa fa-money-bill"></i>
            <span></span>
            <em>(required)</em>
            <Input type="text" placeholder="KES Amount" />
        </div>
        <a href="#" class="button bg-highlight round-huge button-m shadow-huge bottom-0 top-20">DONATE NOW</a>


    </div>
</div>