<div class="page-content">
    <div class="page-title has-subtitle">
        <div class="page-title-left">
            <a href="#">Kenya United</a>
            <span class="color-highlight">For Kenya to the power of 10</span>
        </div>
        <div class="page-title-right">
            <a href="#" data-menu="menu-navigation"><i class="fa fa-bars"></i></a>
            <a href="#" data-menu="menu-contact"><i class="fa fa-envelope"></i></a>
            <a href="#" data-toggle-theme><i class="fa fa-moon"></i></a>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="content">
        <img src="assets/images/empty.png" data-src="assets/images/pictures/18w.jpg"
            class="preload-image responsive-image round-small shadow-huge bottom-30">
        <h3 class="bolder">Start Here</h3>
        <p>
            This is a call to action. If you are within the Kenya Borders click the button below to register. Together
            we
            will connect, coordinate resources, share useful data and stop this pandemic in its tracks. Sign up
            now!
        </p>
        <LinkTo @route="register" class="button bg-highlight button-full round-small shadow-large button-m">
            Register Now
        </LinkTo>
    </div>

    <div class="footer">
        <div class="footer-title">
            <a href="#">
                <h1>Kenya United</h1>
                <span class="color-highlight">For Kenya to the power of 10</span>
            </a>
        </div>
        <p class="footer-text">
            Kenya United is a youth enterprise to fight Covid 19. We refuse to be sitting ducks allowing this to
            devastate
            our nation. Through the power of technology we aim to stem this Pandemic in our nation.
        </p>
        <div class="footer-socials">
            <a href="#"><i class="fab fa-facebook-f bg-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter bg-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram bg-instagram"></i></a>
            <a href="#"><i class="fa fa-phone bg-green1-dark"></i></a>
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up bg-highlight color-white"></i></a>
        </div>
        <p class="footer-copyright">Copyright <span class="copyright-year"></span>. All Rights Reserved</p>
    </div>
</div>