<div class="page-content walk-starter-page">

    <div class="cover-wrapper cover-has-buttons">
        <a href="#" class="cover-next color-gray2-dark bottom-0" style="bottom:160px">Next<i
                class="fa fa-angle-right left-10"></i></a>
        <a href="#" class="cover-prev color-gray2-dark" style="bottom:160px"><i
                class="fa fa-angle-left right-10"></i>Previous</a>
        <OwlCarousel::ScreeningCaption />

        <div class="caption-bottom bottom-60">
            <a href="index-classic.html"
                class="button button-m round-medium button-full left-60 right-60 shadow-huge bg-blue2-dark bottom-30">Skip
                Self Test</a>
        </div>
        <div class="caption-bg bg-17"></div>
        <div class="caption-overlay bg-theme opacity-95"></div>
    </div>

</div>