<div id="page">
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="#" class="back-button header-title">Kenya United</a>
        <a href="#" class="header-icon header-icon-4" data-menu="menu-contact"><i class="fas fa-envelope"></i></a>
        <a href="#" class="header-icon header-icon-1" data-menu="menu-navigation"><i class="fas fa-bars"></i></a>
    </div>

    {{outlet  }}
    <div class="menu-hider"></div>
</div>