<div class="page-content">

    <div class="page-title has-subtitle">
        <div class="page-title-left">
            <LinkTo @route="index">
                Kenya United
            </LinkTo>
            <span class="color-highlight">To the power of 10</span>
        </div>
        <div {{on "click" this.prevent}} class="page-title-right">
            {{#if this.session.isAuthenticated}}
            <LinkTo @route="private.menu">
                <i class="fa fa-bars"></i>
            </LinkTo>
            <a {{on "click" this.signOut}}>
                <i class="fas fa-sign-out-alt"></i>
            </a>
            {{else}}
            <LinkTo @route="menu">
                <i class="fa fa-bars"></i>
            </LinkTo>
            <LinkTo @route="login">
                <i class="fas fa-sign-in-alt"></i>
            </LinkTo>
            {{/if}}

        </div>
    </div>

    <div class="divider divider-margins top-10 bottom-10"></div>

    <OwlCarousel::SingleSlider />

    <div class="content">
        <div class="content-title has-icon">
            <h3>Donors Required</h3>
            <span class="color-highlight">Give someone a lifeline</span>
            <i class="fa fa-heart bg-red2-dark shadow-large"></i>
        </div>
        <p>
            These donations will among other things, enable other kenyans to request essential items such as food
            through this platform automatically.
        </p>

        <LinkTo class="button bg-highlight round-huge button-m shadow-huge bottom-0" @route="private.donate">
            DONATE NOW
        </LinkTo>
    </div>

    <div class="divider divider-margins"></div>

    <div class="content">
        <div class="content-title has-icon">
            <h3>How You Participate</h3>
            <span class="color-highlight">Choose your area of impact</span>
            <i class="fa fa-truck bg-green1-dark shadow-large"></i>
        </div>
        <p>
            There are various ways to receive help and offer assistance through this platform. Explore below.
        </p>
    </div>

    <div class="content">
        <div class="link-list link-list-2 link-list-long-border link-list-icon-bg bottom-50">
            <a href="#" data-menu="menu-navigation">
                <i class="fa fa-shopping-cart bg-red2-dark round-huge shadow-huge"></i>
                <span>DELIVER GOODS</span>
                <strong>For your neighbours and those close to you</strong>
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="menu-navigation-3">
                <i class="fa fa-list bg-blue2-dark round-huge shadow-huge"></i>
                <span>LIST & REQUEST DELIVERY</span>
                <strong>From your closest neighbours who have transport</strong>
                <i class="fa fa-angle-right"></i>
            </a>
            <LinkTo @route="private.screen">
                <i class="fa fa-ambulance bg-yellow1-dark round-huge shadow-huge"></i>
                <span>SELF CHECK YOUR CORONA STATUS</span>
                <strong>Answer medical questions if you suspect covid-19</strong>
                <i class="fa fa-angle-right"></i>
            </LinkTo>
            <a href="#" data-menu="menu-navigation-3">
                <i class="fa fa-file bg-mint-dark round-huge shadow-huge"></i>
                <span>REPORT A SUSPICIOUS INCIDENT</span>
                <strong>Click here to submit a suspicious medical incident</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>

</div>