<div class="page-content">
    <div class="page-title has-subtitle">
        <div class="page-title-left">
            <a href="#">Menu</a>
            <span class="color-highlight">Welcome Guest</span>
        </div>
        <div class="page-title-right">
            <a {{auto-sign-out}}><i class="fas color-facebook fa-sign-out-alt"></i></a>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="content bottom-0">
        <h6 class="uppercase">Navigation</h6>
        <div class="link-list link-list-2 link-list-long-border link-list-icon-bg">
            <LinkTo @route="index">
                <i class="fas fa-backward bg-yellow1-dark round-circle shadow-huge"></i>
                <span>Welcome</span>
                <strong>Go to Home Page</strong>
                <i class="fa fa-angle-right"></i>

            </LinkTo>
            <LinkTo @route="contact">
                <i class="far fa-envelope bg-red2-dark round-circle shadow-huge"></i>
                <span>Contact Us</span>
                <strong>Submit your query online</strong>
                <i class="fa fa-angle-right"></i>
            </LinkTo>
        </div>
    </div>

</div>