<div class="footer-menu footer-menu-center-icon footer-5-icons">
    <a href="#"><i class="fa fa-heart"></i><span>Activities</span></a>
    <LinkTo @route="private.wallet">
        <i class="fa fa-gift"></i><span>Wallet</span>
    </LinkTo>
    <LinkTo @route="private.index" @activeClass="active-nav">
        <i class="fa fa-home"></i><span>Home</span>
    </LinkTo>
    <LinkTo @route="private.profile">
        <i class="fa fa-cog"></i><span>Profile</span>
    </LinkTo>
    <LinkTo @route="private.menu" @activeClass="active-nav">
        <i class="fa fa-bars"></i><span>Menu</span>
    </LinkTo>
    <div class="clear"></div>
</div>
{{outlet}}